.vscode/
*.p1
*.cof
*.hex
*.sym
*.map
*.hxl
*.lst
*.rlf
*.pre
*.obj
*.lst
*.rlf
*.sdb
*.mcs
*.as
html/
nbproject/private/
nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
funclist
nbproject/Makefile-*
disassembly/
*.map
*.workspace
~*